<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/html-head') %> <%- include('./partials/nav') %>
    <h1>Welcome to the Inventory page!</h1>
    <p><%= msg %>, <%= player.name %>!</p>
    <ul>
      <!-- Add the index parameter -->
      <% inventory.forEach((item, index) => { %>
      <!-- Wrap each li in an <a> tag -->
      <a href="/<%= index %>">
        <li><%= item.name %>: <%= item.qty %></li>
      </a>
      <% }); %>
    </ul>
    <!-- output tags -->
  </body>
</html>
